.burn-submit-btn {
  margin-top: 20px;
}
.list-group-item {
  width: 18rem;
  padding: 10px;
}
.token {
  background-color: royalblue;
}
.card1 {
  width: 18rem;
  padding: 10px;
}
.card-header {
  width: 18rem;
}
